---
import User from '../assets/Image.png'
---

<section class="about" id="about">
    <figure class="about-picture">
        <img src={User.src} alt="Photo de Kévin">
    </figure>
    <article class="about-bio">
        <h2 class="heading-2">Bonjour, je suis Kévin, passionné par les SIG et l'analyse spatiale, avec une expérience solide dans le développement web.</h2>
        <p class="text-normal">
            Tout au long de mon parcours, j’ai relevé divers défis qui ont renforcé ma capacité à concevoir des solutions innovantes et à naviguer dans un univers technologique en constante évolution.
        </p>
        <p class="text-normal">
            De mes premières expériences en tant qu’étudiant à la participation à des projets d’envergure, chaque étape a contribué à mon épanouissement professionnel. J’ai eu l’opportunité de travailler sur des plateformes de cartographie, des analyses spatiales avancées et des applications SIG, toujours dans le but d’apporter une plus-value concrète aux utilisateurs.
        </p>
        <p class="text-normal">
            Mon objectif est d’exploiter pleinement la puissance des données géospatiales pour résoudre des problématiques réelles, en m’appuyant sur des technologies de pointe, l’analyse de données et des méthodologies agiles. Ma passion pour la cartographie, la géolocalisation et la résolution de problèmes me pousse à explorer en permanence de nouvelles tendances et à rester à la pointe dans un environnement numérique en constante mutation.
        </p>
    </article>
</section>
