import User from '../assets/Image.png'

<section class="about" id="about">
    <figure class="about-picture">
        <img src={User.src} alt="Photo de Kévin" />
    </figure>
    <article class="about-bio">
        <h2 class="heading-2">Salut, je suis Kévin, passionné par les SIG et l’analyse spatiale, avec une base en développement web.</h2>
        <p class="text-normal">
            J’ai eu l’occasion de bosser sur des projets de cartographie et d’analyse spatiale avancée, en cherchant toujours à apporter une vraie valeur ajoutée aux utilisateurs. Chaque expérience, des projets étudiants aux missions plus complexes, m’a permis d’affiner mes compétences et de mieux comprendre les enjeux liés aux données géospatiales.
        </p>
        <p class="text-normal">
            Mon objectif ? Exploiter la puissance des données géospatiales pour résoudre des problèmes concrets, en utilisant des technologies modernes et des approches agiles. Curieux de nature, j’aime explorer de nouvelles tendances pour rester à jour dans ce domaine en constante évolution.
        </p>
    </article>
</section>
