---
import Logo from '../assets/icon.svg'
---

<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="index.html" role="link" class="navbar-logo">
                <img src={Logo.src} alt="Logo">
            </a>
        </div>
        <a href="#contact" class="text-normal">Contact</a>
    </nav>
    <div class="hero">
        <h1 class="heading-1">
            Bonjour à tous ! Je m'appelle <span class="green">Kévin</span>. Laissez-moi vous présenter mon <span class="violet">univers</span> en tant que <span class="pink">passionné et spécialiste des SIG</span>.
            <a href="#about" role="button" class="button">
                <span class="button-text">En savoir plus</span>
                <span class="button-box-icon">
                    <i class="ri-arrow-down-line"></i>
                </span>
            </a>
        </h1>
    </div>
</header>

