---
const logos = [
  "https://www.svgrepo.com/show/452091/python.svg", // Python
  "https://www.svgrepo.com/show/353925/javascript.svg", // JavaScript
  "https://www.svgrepo.com/show/354381/sqlite.svg", // SQLite
  "https://www.svgrepo.com/show/452147/adobe-illustrator.svg", // Illustrator
  "https://www.svgrepo.com/show/353884/html-5.svg", // HTML
  "https://www.svgrepo.com/show/353623/css-3.svg", // CSS
  "https://upload.wikimedia.org/wikipedia/commons/c/c2/QGIS_logo%2C_2017.svg", // QGIS
  "https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg", //Pgadmin
];
---

<div class="slider">
  <div class="slider-track">
    {logos.concat(logos).map((logo, index) => (
      <img src={logo} alt={`Logo ${index}`} key={index} loading="lazy" />
    ))}
  </div>
</div>

<style>
  .slider {
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  display: flex;
  margin-bottom: 100px;
}


  .slider-track {
    display: flex;
    animation: scroll 10s linear infinite;
    width: calc(100% * 2); /* Deux fois la taille pour éviter le saut */
  }

  .slider-track img {
    height: 50px;
    margin: 0 30px;
    object-fit: contain;
    flex-shrink: 0;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
</style>
